<!DOCTYPE html>
<html>
<style>
.row{
	width: 350px;
	margin: 0px auto
}
</style>
	<div class="container">
		<div class="row">
			<h3>Login</h3>
			<table class="table">
				<tbody>
					<tr>
						<th width="20%" class="text-center">ID</th>
						<td width="80%"><input type="text" name="userid" size="20" class="input-sm" required></td>
					</tr>
					<tr>
						<th width="20%" class="text-center">PW</th>
						<td width="80%"><input type="password" name="userpwd" size="20" class="input-sm" required></td>
					</tr>
					<tr>
						<td colspan="2" class="text-center">
							<button type="submit" class="btn-sm btn-primary">로그인</button>
							<button type="button" class="btn-sm btn-warning" onclick="javascript:history.back()">취소</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</html>